// core
$jaccordion: 'jaccordion';
$jaccordion-header: 'header';
$jaccordion-opened: 'opened';
$jaccordion-content: 'content';
$jaccordion-header-class: '#{$jaccordion}__#{$jaccordion-header}';
$jaccordion-header-opened-class: '#{$jaccordion-header-class}--#{$jaccordion-opened}';
$jaccordion-content-class: '#{$jaccordion}__#{$jaccordion-content}';

// theme
$jaccordion-border-radius: 4px;
$jaccordion-border-width: 1px;
$jaccordion-border-style: solid;
$jaccordion-border-color: #d9d9d9;
$jaccordion-padding: 1em;
$jaccordion-font-size: 14px;
$jaccordion-header-background-color: #4a4a4a;
$jaccordion-header-color: #fff;
$jaccordion-content-background-color: #f5f5f5;
$jaccordion-content-color: #4a4a4a;

.#{$jaccordion} {
  border-width: $jaccordion-border-width;
  border-style: $jaccordion-border-style;
  border-color: $jaccordion-border-color;
  border-radius: $jaccordion-border-radius;
  font-size: $jaccordion-font-size;

  &__#{$jaccordion-header} {
    background-color: $jaccordion-header-background-color;
    color: $jaccordion-header-color;
    font-weight: 700;
    padding: $jaccordion-padding;
    border-radius: 0;
    border-bottom-width: $jaccordion-border-width;
    border-bottom-style: $jaccordion-border-style;
    border-bottom-color: $jaccordion-border-color;
    cursor: pointer;

    &:last-of-type:not(.#{$jaccordion-header-class}--#{$jaccordion-opened}) {
      border-bottom: 0;
    }

    &:not(.#{$jaccordion-header-class}--#{$jaccordion-opened}) + .#{$jaccordion-content-class} {
      height: 0;
      overflow: hidden;
      padding: 0;
    }

    &:first-of-type {
      border-radius: $jaccordion-border-radius $jaccordion-border-radius 0 0;
    }

    & ~ & {
      border-radius: 0;
    }

    &:last-of-type {
      border-radius: 0 0 $jaccordion-border-radius $jaccordion-border-radius;
    }

    &:not(:first-of-type).#{$jaccordion-header-class}--#{$jaccordion-opened} {
      border-radius: 0;
    }
  }
  
  &__#{$jaccordion-content} {
    margin: 0;
    border-bottom-width: $jaccordion-border-width;
    border-bottom-style: $jaccordion-border-style;
    border-bottom-color: $jaccordion-border-color;
    color: $jaccordion-content-color;
    padding: $jaccordion-padding;
    background-color: $jaccordion-content-background-color;
    height: auto;
    transition: height .3s ease, padding .3s ease;

    &:last-of-type {
      border-bottom-left-radius: $jaccordion-border-radius;
      border-bottom-right-radius: $jaccordion-border-radius;
      border-color: $jaccordion-content-background-color;
    }
  }
}